<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  
  -->
<configuration>
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <add key="FolderPath" value="Files/"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
  </appSettings>
  <connectionStrings>
	  <add name="AppConString" connectionString="Data Source=10.235.2.192;Initial Catalog=atmdb_test;User ID=sa;Password=Pa$$w0rdCBD@2024;Integrated Security=False; Max Pool Size=32767;" providerName="System.Data.SqlClient" />
	  <!--<add name="AppConString" connectionString="Data Source=192.168.0.253;Initial Catalog=atmdb;User ID=atm;Password=$HKL@atm;Integrated Security=False; Max Pool Size=32767;" providerName="System.Data.SqlClient" />-->
	  <!--<add name="AppConString" connectionString="Data Source=192.168.0.253;Initial Catalog=atmdb_test;User ID=atm;Password=$HKL@atm;Integrated Security=False; Max Pool Size=32767;" providerName="System.Data.SqlClient" />-->
	  <add name="AppConString_hrmdb" connectionString="Data Source=192.168.0.253;Initial Catalog=hrmdb;User ID=sa;Password=$HKL@168#hr;Integrated Security=False; Max Pool Size=32767;" providerName="System.Data.SqlClient" />
	  <!-- <add name="AppConString" connectionString="Data Source=192.168.0.253;Initial Catalog=mastercare;User ID=atm;Password=$HKL@atm;Integrated Security=False; Max Pool Size=32767;" providerName="System.Data.SqlClient" />-->
      <!-- <add name="AppConString" connectionString="Data Source=43.255.152.21;Initial Catalog=ph18512401811_;User ID=mastercare;Password=$mastercare@123;Integrated Security=False; Max Pool Size=32767;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
	  
    <compilation debug="true" targetFramework="4.5.2">
		
      <buildProviders/>
      <assemblies>
        <add assembly="System, Version=1.0.5000.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--Ajax-->
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
	  
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="999999" maxRequestLength="20000"/>
    <!--2097151-->
    <sessionState mode="InProc" timeout="1200"/>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx"/>
    </authentication>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>	  
			  
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="999999999"/>
        <!--50MB-->
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
   
   
  </system.serviceModel>
</configuration>